@charset "utf-8";

/* ========== BASIC ========== */


html {
}

body {
    background-color: #FFF;
    color: #222;
    font-family: 'Nunito', sans-serif;
    font-size: 1.4em;
    margin: 0;
    padding: 16px;
}

.contents {
    background-color: #ffffff;
    min-height: 480px;
}

footer {
    font-size: 1.2rem;
    margin: 32px 0px 16px;
}



/* ========== FORM ========== */
form input,
form label,
form small {
    display: block;
}
form > div {
    margin-bottom: 12px;
}
form label {
    font-size: 0.8rem;
    margin-bottom: 4px;
}
form small {
    font-size: 0.9rem;
}
form input {
    border: 1px solid #cccccc;
    border-radius: 3px;
    box-sizing: border-box;
    height: 2.5rem;
    line-height: 1.5;
    margin-bottom: 4px;
    padding: 10px;
}
form button {
    border-radius: 3px;
    height: 2.5rem;
    line-height: 1.5;
    margin-bottom: 4px;
    padding: 10px;
}

.input__w-255 {
    width: 255px;
}
.input__w-128 {
    width: 128px;
}
form button:hover {
    background-color: black;
    border-color: black;
    color: white;
    cursor: pointer;
}





/* ========== COMPONENTS ==========*/
/* loginform */
.c__loginform {
    margin-top: 32px;
}





